# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Data
Data/
*.zip
*.tar
*.tar.gz

# Models
Models/
*.h5
*.pkl
*.pt

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
